html,
body {
  width: 100px;
  height: 100px;
}

body {
  margin: 20px;
}
.lrSides {
  width: 10px;
  height: 100px;
  display: inline-block;
}

.tbSides {
  width: 100px;
  height: 10px;
  position: relative;
  top: -98px;
  display: inline-block;
}

.unclicked {
  background-color: #f5f6f5;

}

center {
  position: absolute;
  top:50%;
   left:50%;
   -ms-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
}
